<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PARKING RENT</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
    <h1>Buscador de Estacionamientos</h1>
    <form method="post" action="{% url 'resultado_busqueda' %}">
        {% csrf_token %}
        <label for="commune">Comuna:</label>
        <input type="text" name="commune" id="commune"><br>
        <label for="start_date">Fecha Desde:</label>
        <input type="date" name="start_date" id="start_date"><br>
        <label for="end_date">Fecha Hasta:</label>
        <input type="date" name="end_date" id="end_date"><br>
        <label for="start_time">Hora Desde:</label>
        <input type="time" name="start_time" id="start_time"><br>
        <label for="end_time">Hora Hasta:</label>
        <input type="time" name="end_time" id="end_time"><br>
        <input type="submit" value="Buscar">
    </form>
</body>
</html>
