{% extends 'buscar_estacionamiento/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="login bg-light rounded shadow-sm">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.email.label_tag }} <!-- Esto muestra la etiqueta del campo Email -->
            {{ form.email }} <!-- Esto muestra el campo Email -->
            {{ form.password.label_tag }} <!-- Esto muestra la etiqueta del campo Contraseña -->
            {{ form.password }} <!-- Esto muestra el campo Contraseña -->
            <input type="submit" value="Iniciar sesión">
        </form>
        
    </div>
</body>
</html>
{% endblock %}
