{% extends 'buscar_estacionamiento/base.html' %}


{% block content %}
    <div class="container mt-5">
        <h2 style="margin-top: 50px; color: #4300BE;">Resultados de la Búsqueda</h2> 

        <ul class="list-group">
            {% for estacionamiento in estacionamientos_disponibles %}
                <li class="list-group-item">
                    {{ estacionamiento.comuna.comuna }} - {{ estacionamiento.direccion }}
                    <a href="#" class="btn btn-primary btn-reservar">Reservar</a>
                </li>
            {% empty %}
                <div class="alert alert-info mt-3">
                    No se encontraron estacionamientos disponibles.
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
