.navbar {
  background-color: #4300BE;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  margin-right: 10px;
}
.navbar-nav .nav-link {
  color: white;
}

.form-control{
  background-color:  #9C88B8;

}

.btn{
  background-color: #FFA011; 
  color: #FFFFFF
}